.example-container {
    display: block;
    padding: 0 20px 0 20px;
  }
  
.example-container > * {
    max-width: 100%;
}

.right-side {
    float: right;
    align-content: middle;
    width: 310px;
    border: 1px solid black;
}

.mat-form-field {
    display: block;
}

.image {
    margin: 4px 4px 4px 4px;
    border: 1px solid black;
    height: 300px !important;
    width: 300px !important;
}

.dimensions {
    font-size: 12px;
    margin-top: 14px;
    margin-left: 50px;
}

.recipe-name {
    width: 80% !important;
}

.image-buttons {
    padding-top: 10px;
    padding-bottom: 10px;

    .mat-button-base {
        width: 150px;
        display: block;
        margin: auto;
    }
}

.checkbox {
    float: right;
}

.form-fields {
    width: 40%;
}

.form-fields-sm {
    width: 200px;
}

.form-actions {
    float: right;
}

.form-buttons {
    margin: 5px 5px 5px 5px;
}

.large-text-area {
    min-height: 100px;
}