<div *ngIf="selectedStyle" class="styles-container">
    <form #styleForm="ngForm">
        <div class="header-container">
            <span class="header">{{selectedStyle.id ? 'Edit' : 'Add'}} Style</span>
            <!-- <button class="active-button" mat-raised-button color="accent" (click)="makeCurrentStyleActive(selectedStyle)">Make Active</button> -->
        </div>
        <div class="column-container">
            <div class="left-column">
                <div class="form-fields">
                    <mat-form-field>
                        <input 
                            class="style-name"
                            matInput
                            placeholder="Style Name"
                            [(ngModel)]="selectedStyle.name"
                            required
                            name="style-name"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                            matTooltip="This will name your individual style for the Bar Menu Board. Unique Names are desired, but not required."
                            matTooltipClass="tooltip-body"
                            [matTooltipPosition]="'right'"
                            svgIcon="information-outline">
                    </mat-icon>
                </div>
                <mat-checkbox class="checkbox" [(ngModel)]="selectedStyle.showBanner" name="style-showBanner">
                    <span>Show Banner</span>
                    <mat-icon class="tooltip"
                            matTooltip="This toggles the appearance of the banner on the Bar Menu Board and 3 hidden banner options on this form."
                            matTooltipClass="tooltip-body"
                            [matTooltipPosition]="'right'"
                            svgIcon="information-outline">
                    </mat-icon>
                </mat-checkbox>
                <div class="banner-items" *ngIf="selectedStyle.showBanner">
                    <div class="form-fields">
                        <mat-form-field>
                            <input 
                                class="style-banner-color"
                                matInput
                                [style.background]="selectedStyle.bannerColor"
                                [(colorPicker)]="selectedStyle.bannerColor"
                                [cpFallbackColor]
                                [cpOKButton]="true"
                                [cpCancelButton] ="true"
                                placeholder="Style Banner Color"
                                [(ngModel)]="selectedStyle.bannerColor"
                                required
                                name="style-banner-color"
                                [ngModelOptions]="{standalone: true}" />
                        </mat-form-field>
                        <mat-icon class="tooltip"
                                matTooltip="This will determine the background color for the banner on the Bar Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                        </mat-icon>
                    </div>
                    <div class="form-fields">
                        <mat-form-field>
                            <input 
                                class="style-banner-text"
                                matInput
                                placeholder="Style Banner Text"
                                [(ngModel)]="selectedStyle.bannerText"
                                required
                                maxlength="12"
                                name="style-banner-text"
                                [ngModelOptions]="{standalone: true}" />
                        </mat-form-field>
                        <mat-icon class="tooltip"
                                matTooltip="This will determine the text for the banner on the Bar Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                        </mat-icon>
                    </div>
                    <div class="form-fields">
                        <mat-form-field>
                            <input 
                                class="style-banner-text-color"
                                matInput
                                [style.background]="selectedStyle.bannerTextColor"
                                [(colorPicker)]="selectedStyle.bannerTextColor"
                                [cpFallbackColor]
                                [cpOKButton]="true"
                                [cpCancelButton] ="true"
                                placeholder="Style Banner Text Color"
                                [(ngModel)]="selectedStyle.bannerTextColor"
                                required
                                name="style-banner-text-color"
                                [ngModelOptions]="{standalone: true}" />
                        </mat-form-field>
                        <mat-icon class="tooltip"
                                matTooltip="This color will determine the text color for the banner text on the banner on the Bar Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                        </mat-icon>
                    </div>
                </div>
                <div class="form-fields">
                    <mat-form-field>
                        <input 
                            class="style-title-text"
                            matInput
                            placeholder="Title Text"
                            [(ngModel)]="selectedStyle.titleText"
                            required
                            name="style-title-text"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This Text will appear as title of the Bar Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-title-text-color"
                            matInput
                            [style.background]="selectedStyle.titleTextColor"
                            [(colorPicker)]="selectedStyle.titleTextColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Title Text Color"
                            [(ngModel)]="selectedStyle.titleTextColor"
                            required
                            name="style-title-text-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of the title on the Bar Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-recipe-border-color"
                            matInput
                            [style.background]="selectedStyle.recipeBorderColor"
                            [(colorPicker)]="selectedStyle.recipeBorderColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Border Color"
                            [(ngModel)]="selectedStyle.recipeBorderColor"
                            required
                            name="style-recipe-border-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of each recipe's border."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-recipe-header-color"
                            matInput
                            [style.background]="selectedStyle.recipeHeaderColor"
                            [(colorPicker)]="selectedStyle.recipeHeaderColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Header Color"
                            [(ngModel)]="selectedStyle.recipeHeaderColor"
                            required
                            name="style-recipe-header-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of each recipe title."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-recipe-text-color"
                            matInput
                            [style.background]="selectedStyle.recipeTextColor"
                            [(colorPicker)]="selectedStyle.recipeTextColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Text Color"
                            [(ngModel)]="selectedStyle.recipeTextColor"
                            required
                            name="style-recipe-text-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of each recipe's text description."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-recipe-image-border-color"
                            matInput
                            [style.background]="selectedStyle.recipeImageBorderColor"
                            [(colorPicker)]="selectedStyle.recipeImageBorderColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Image Border Color"
                            [(ngModel)]="selectedStyle.recipeImageBorderColor"
                            required
                            name="style-recipe-image-border-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of the border of each recipe image."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-recipe-description-header-color"
                            matInput
                            [style.background]="selectedStyle.recipeDescriptionHeaderTextColor"
                            [(colorPicker)]="selectedStyle.recipeDescriptionHeaderTextColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Description Header Text Color"
                            [(ngModel)]="selectedStyle.recipeDescriptionHeaderTextColor"
                            required
                            name="style-recipe-description-header-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of the Description Header of each recipe."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input 
                            class="style-recipe-profile-label-color"
                            matInput
                            [style.background]="selectedStyle.recipeProfileLabelColor"
                            [(colorPicker)]="selectedStyle.recipeProfileLabelColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Profile Label Color"
                            [(ngModel)]="selectedStyle.recipeProfileLabelColor"
                            required
                            name="style-recipe-profile-label-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of the labels in the Profile section of each recipe."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <mat-form-field>
                        <input a
                            class="style-recipe-profile-item-color"
                            matInput
                            [style.background]="selectedStyle.recipeProfileItemColor"
                            [(colorPicker)]="selectedStyle.recipeProfileItemColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Profile Item Color"
                            [(ngModel)]="selectedStyle.recipeProfileItemColor"
                            required
                            name="style-recipe-profile-item-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of the values in the Profile section of each recipe."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                </div>
            </div>
            <div class="right-column">
                <div class="style-image-inputs">
                    <img *ngIf="selectedStyle.headerImage" class="image" alt="Header Image" [src]="getHeaderImageURL(selectedStyle)"/>
                    <div *ngIf="selectedStyle.headerImage" class="image-buttons">
                        <button mat-flat-button color="warn" (click)="deleteImage(selectedStyle.headerImage, 'headerImage')">Delete Header Image</button>
                        <mat-icon class="tooltip"
                                  matTooltip="This image appears at the top of the Menu Board and is usually the logo for your bar."
                                  matTooltipClass="tooltip-body"
                                  [matTooltipPosition]="'right'"
                                  svgIcon="information-outline">
                        </mat-icon>
                    </div>
                    <div *ngIf="!selectedStyle.headerImage"  class="image-buttons">
                        <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="uploadImage($event, 'headerImage')" accept=".png,.jpg,.jpeg,.gif"/>
                        <button mat-flat-button color="primary" (click)="imageInput.click()">Choose Header Image</button>
                        <mat-icon class="tooltip"
                                  matTooltip="This image appears at the top of the Menu Board and is usually the logo for your bar."
                                  matTooltipClass="tooltip-body"
                                  [matTooltipPosition]="'right'"
                                  svgIcon="information-outline">
                        </mat-icon>
                        <p class="dimensions">Best image dimensions are 378x378px</p>
                    </div>
                </div>
                <div *ngIf="selectedStyle.useMainBackgroundColor">
                    <mat-form-field>
                        <input a
                            class="style-main-background-color"
                            matInput
                            [style.background]="selectedStyle.mainBackgroundColor"
                            [(colorPicker)]="selectedStyle.mainBackgroundColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Main Background Color"
                            [(ngModel)]="selectedStyle.mainBackgroundColor"
                            required
                            name="style-main-background-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This is the color of the large background of the Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <button class="color-or-image" mat-stroked-button (click)="toggleMainBackgroundColorOrImage()">Select Image</button>
                </div>
                <div *ngIf="!selectedStyle.useMainBackgroundColor">
                    <div class="style-image-inputs">
                        <img *ngIf="selectedStyle.mainBackgroundImage" class="image" alt="Main Background Image" [src]="getMainBackgroundImageURL(selectedStyle)"/>
                        <div *ngIf="selectedStyle.mainBackgroundImage" class="image-buttons">
                            <button mat-flat-button color="warn" (click)="deleteImage(selectedStyle.mainBackgroundImage, 'mainBackgroundImage')">Delete Main Background Image</button>
                            <mat-icon class="tooltip"
                                    matTooltip="This image is the large background of the Menu Board, the bigger height the better."
                                    matTooltipClass="tooltip-body"
                                    [matTooltipPosition]="'right'"
                                    svgIcon="information-outline">
                            </mat-icon>
                            <button class="color-or-image" mat-stroked-button (click)="toggleMainBackgroundColorOrImage()">Select Color</button>
                        </div>
                        <div *ngIf="!selectedStyle.mainBackgroundImage"  class="image-buttons">
                            <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="uploadImage($event, 'mainBackgroundImage')" accept=".png,.jpg,.jpeg,.gif"/>
                            <button mat-flat-button color="primary" (click)="imageInput.click()">Choose Main Background Image</button>
                            <mat-icon class="tooltip"
                                    matTooltip="This image is the large background of the Menu Board, the bigger height the better."
                                    matTooltipClass="tooltip-body"
                                    [matTooltipPosition]="'right'"
                                    svgIcon="information-outline">
                            </mat-icon>
                            <button class="color-or-image" mat-stroked-button (click)="toggleMainBackgroundColorOrImage()">Select Color</button>
                            <p class="dimensions">Best image dimensions are 1160x900px (Height:Width)</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedStyle.useRecipeBackgroundColor">
                    <mat-form-field>
                        <input a
                            class="style-recipe-background-color"
                            matInput
                            [style.background]="selectedStyle.recipeBackgroundColor"
                            [(colorPicker)]="selectedStyle.recipeBackgroundColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Background Color"
                            [(ngModel)]="selectedStyle.recipeBackgroundColor"
                            required
                            name="style-recipe-background-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This color is the background for each recipe on the Menu Board."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <button class="color-or-image" mat-stroked-button (click)="toggleRecipeBackgroundColorOrImage()">Select Image</button>
                </div>
                <div *ngIf="!selectedStyle.useRecipeBackgroundColor">
                    <div class="style-image-inputs">
                        <img *ngIf="selectedStyle.recipeBackgroundImage" class="recipe-image-bk" alt="Recipe Background Image" [src]="getRecipeBackgroundImageURL(selectedStyle)"/>
                        <div *ngIf="selectedStyle.recipeBackgroundImage" class="image-buttons">
                            <button mat-flat-button color="warn" (click)="deleteImage(selectedStyle.recipeBackgroundImage, 'mainBackgroundImage')">Delete Recipe Background Image</button>
                            <mat-icon class="tooltip"
                                    matTooltip="This image is the background for each recipe on the Menu Board."
                                    matTooltipClass="tooltip-body"
                                    [matTooltipPosition]="'right'"
                                    svgIcon="information-outline">
                            </mat-icon>
                            <button class="color-or-image" mat-stroked-button (click)="toggleRecipeBackgroundColorOrImage()">Select Color</button>
                        </div>
                        <div *ngIf="!selectedStyle.recipeBackgroundImage"  class="image-buttons">
                            <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="uploadImage($event, 'recipeBackgroundImage')" accept=".png,.jpg,.jpeg,.gif"/>
                            <button mat-flat-button color="primary" (click)="imageInput.click()">Choose Recipe Background Image</button>
                            <mat-icon class="tooltip"
                                    matTooltip="This image is the background for each recipe on the Menu Board."
                                    matTooltipClass="tooltip-body"
                                    [matTooltipPosition]="'right'"
                                    svgIcon="information-outline">
                            </mat-icon>
                            <button class="color-or-image" mat-stroked-button (click)="toggleRecipeBackgroundColorOrImage()">Select Color</button>
                            <p class="dimensions">Best image dimensions are 950x300px (Height:Width)</p>
                        </div>
                    </div>
                </div>
                <div *ngIf="selectedStyle.useRecipeProfileBackgroundColor">
                    <mat-form-field>
                        <input a
                            class="style-recipe-profile-background-color"
                            matInput
                            [style.background]="selectedStyle.recipeProfileBackgroundColor"
                            [(colorPicker)]="selectedStyle.recipeProfileBackgroundColor"
                            [cpFallbackColor]
                            [cpOKButton]="true"
                            [cpCancelButton] ="true"
                            placeholder="Recipe Profile Background Color"
                            [(ngModel)]="selectedStyle.recipeBackgroundColor"
                            required
                            name="style-recipe-profile-background-color"
                            [ngModelOptions]="{standalone: true}" />
                    </mat-form-field>
                    <mat-icon class="tooltip"
                                matTooltip="This color is the background for each recipe's profile on the Menu Board. Tastes Like:, Glass:, etc."
                                matTooltipClass="tooltip-body"
                                [matTooltipPosition]="'right'"
                                svgIcon="information-outline">
                    </mat-icon>
                    <button class="color-or-image" mat-stroked-button (click)="toggleRecipeProfileBackgroundColorOrImage()">Select Image</button>
                </div>
                <div *ngIf="!selectedStyle.useRecipeProfileBackgroundColor">
                    <div class="style-image-inputs">
                        <img *ngIf="selectedStyle.recipeProfileBackgroundImage" class="image" alt="Recipe Profile Background Image" [src]="getRecipeProfileBackgroundImageURL(selectedStyle)"/>
                        <div *ngIf="selectedStyle.recipeProfileBackgroundImage" class="image-buttons">
                            <button class="color-or-image" mat-flat-button color="warn" (click)="deleteImage(selectedStyle.recipeProfileBackgroundImage, 'recipeProfileBackgroundImage')">Delete Recipe Profile Background Image</button>
                            <mat-icon class="tooltip"
                                    matTooltip="This image is the background for each recipe's profile on the Menu Board. Tastes Like:, Glass:, etc."
                                    matTooltipClass="tooltip-body"
                                    [matTooltipPosition]="'below'"
                                    svgIcon="information-outline">
                            </mat-icon>
                            <button class="color-or-image" mat-stroked-button (click)="toggleRecipeProfileBackgroundColorOrImage()">Select Color</button>
                        </div>
                        <div *ngIf="!selectedStyle.recipeProfileBackgroundImage"  class="image-buttons">
                            <input #imageInput hidden="true" type="file" onclick="this.value=null" (change)="uploadImage($event, 'recipeProfileBackgroundImage')" accept=".png,.jpg,.jpeg,.gif"/>
                            <button mat-flat-button color="primary" (click)="imageInput.click()">Choose Recipe Profile Background Image</button>
                            <mat-icon class="tooltip"
                                    matTooltip="This image is the background for each recipe's profile on the Menu Board. Tastes Like:, Glass:, etc."
                                    matTooltipClass="tooltip-body"
                                    [matTooltipPosition]="'below'"
                                    svgIcon="information-outline">
                            </mat-icon>
                            <button mat-stroked-button (click)="toggleRecipeProfileBackgroundColorOrImage()">Select Color</button>
                            <p class="dimensions">Best image dimensions are 300x300px</p>
                        </div>
                    </div>
                </div>    
                <div class="form-actions">
                    <button class="form-buttons" mat-raised-button color="primary" (click)="save(selectedStyle)" [disabled]="!styleForm.form.valid">Save Style</button>
                    <button class="form-buttons" mat-raised-button color="warn" (click)="deleteStyle(selectedStyle)" *ngIf="selectedStyle.id" type="button">Delete Style</button>
                    <a class="form-buttons" mat-raised-button color="secondary" (click)="cancel()">Cancel</a>
                </div>
            </div>
            
        </div>
    </form>
</div>
