.page-container {
    margin-left: 12px;
    margin-right: 12px; 
}

.header-row {
    margin-bottom: 10px;
    width: 100%;
}

.header-text {
    float: left;
    width: 50%;
}

.button-group {
    width: 50%;
    float: right;
    margin-right: 5px;
    position: relative;
    top: -38px;
}

.new-button,
.buttons {
    float: right;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

.tabs-container {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
}

.tab-edit-container {
    display: flex;
    width: 100%;
    margin-top: 10px;

    .left {
        flex: 1 !important;
        width: 50%;

        .mat-expansion-panel-header-title {
            font-weight: bold;
        }

        .mat-expansion-panel-header-description {
            flex-grow: 0;
        }

        .inventory-date {
            font-size: .8em;
            margin-top: 5px;
            color: white !important;
        }
    }

    .right {
        flex: 0 0 377px;
        margin-top: 54px;
        margin-left: 26px;
        border: 1px solid grey;
        border-radius: 3px;
        background: white;

        .radio-group {
            font-size: .9em;
        }

        .radio-button {
            margin-right: 10px;
        }

        .add-item-container {
            margin-left: 10px;
        }

        .mat-form-field-infix {
            width: 334px !important;
        }

        .form-fields {
            width: 100%;
            margin-top: 10px;
        }
    }

    .add-item {
        display: block;
    }

    .hide-add-item {
        display: none;;
    }
}

.item-buttons {
    float: right;
    position: relative;
    top: -52px;

    .item-button {
        margin-right: 5px;
    }
}

// Expansion Panel and Accordion Styling

.mat-expansion-panel {
    margin-bottom: 1px !important;
}

.mat-expansion-panel-header {
    background: #476ac4;
    height: 38px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    .mat-expansion-panel-header-title {
        color: white !important;
    }

    &:hover,
    &.mat-expanded:focus {
        background: #7547c4 !important;
    }
}

.mat-expansion-panel-body {
    padding: 15px !important;
    background: #fae9d2;
    border: 1px solid black;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}
