// Header and Background Styles
.page {
    background-size: 100% 100% !important;
    font-family: "Abril FatFace", serif;
    height: 100%;
}

.headerContainer {
    height:378px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.headerImage {
    width: 378px;
    float: left;
    height: 378px;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 40px;
    background-size: 378px 378px;
}

.headerRight {
    text-align: center;
    width: 550px;
    float: left;
    height: 378px;
    margin-top: 2px;
}
  
.headerText {
    font-family: "Dancing Script", serif;
    font-size: 120px;
    margin-top:30px;
    white-space: pre-line;
}

/*
Corner Ribbons!!!
*/
.corner-ribbon{
    width: 400px;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 60px;
    letter-spacing: 1px;
}

/* Custom styles */

.corner-ribbon.sticky{
    position: fixed;
}

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

// .corner-ribbon.top-left{
//     top: 85px;
//     left: -85px;
//     transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
// }

.corner-ribbon.top-right{
    top: 75px;
    right:  -85px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

// .corner-ribbon.bottom-left{
//     top: auto;
//     bottom: 85px;
//     left: -85px;
//     transform: rotate(45deg);
//     -webkit-transform: rotate(45deg);
// }

// .corner-ribbon.bottom-right{
//     top: auto;
//     right: -85px;
//     bottom: 85px;
//     left: auto;
//     transform: rotate(-45deg);
//     -webkit-transform: rotate(-45deg);
// }
  
/* Speciality Ribbon Colors */

// .corner-ribbon.white{background: #f0f0f0; color: #555;}
// .corner-ribbon.black{background: #333;}
// .corner-ribbon.grey{background: #999;}
// // .corner-ribbon.blue{background: #39d;}
// .corner-ribbon.green{background: #2c7;}
// .corner-ribbon.turquoise{background: #1b9;}
// .corner-ribbon.purple{background: #95b;}
// .corner-ribbon.red{background: #e43;}
// .corner-ribbon.orange{background: #e82;}
// .corner-ribbon.yellow{background: #ec0;}
// .corner-ribbon.cayden-bday{background: rgb(53, 189, 62);}
.corner-ribbon.usa{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, rgb(57, 14, 231)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, rgb(57, 14, 231)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, rgb(57, 14, 231)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, rgb(57, 14, 231)); /* Standard syntax */
}
.corner-ribbon.xmas{
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, rgb(64, 169, 32)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, rgb(64, 169, 32)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, rgb(64, 169, 32)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, rgb(64, 169, 32)); /* Standard syntax */
}

.corner-ribbon.hny{
    background-image: url('../../assets/menu-board/newyears_small.jpg');; /* For browsers that do not support gradients */
    background-color: gold;
    background-blend-mode: luminosity, lighten;
    color: black;
    -webkit-text-stroke: 1px black;
    /*  background: -webkit-linear-gradient(red, rgb(64, 169, 32)); /* For Safari 5.1 to 6.0 */
    /*  background: -o-linear-gradient(red, rgb(64, 169, 32)); /* For Opera 11.1 to 12.0 */
    /*  background: -moz-linear-gradient(red, rgb(64, 169, 32)); /* For Firefox 3.6 to 15 */
    /*   background: linear-gradient(red, rgb(64, 169, 32)); /* Standard syntax */
}
  
.text {
    font-family: "Dancing Script", serif;
    text-decoration-style: bold;
    font-size: 40px;
}

.smalltext {
    font-family: "Dancing Script", serif;
    text-decoration-style: bold;
    font-size: 32px;
}

// Specials Styling
.container {
    border-radius: 10px;
    height: 295px;
    background-color: rgb(51, 8, 8);
    margin: 7px 4px 7px 4px;
}

.itemImage {
    width: 280px;
    float: left;
    height: 280px;
    margin-top: 7px;
    margin-right: 5px;
    align-content: left;
}

.itemImage img {
    height:280px;
    width:280px;
    max-height:280px;
    max-width:280px;
    border: 2px solid;
    border-radius: 4px;
    margin-top: -2px;
    margin-left: 5px;
}

.itemDetails {
    text-align: left;
    width: 440px;
    float: left;
    height: 280px;
    margin-top: 5px;
    padding-left: 12px;
}
  
.itemProfile {
    text-align: left;
    width: 280px;
    height: 283px;
    float: right;
    font-size:18px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px 2px 2px 10px;
    background-color: rgb(142, 142, 142);
}

.itemTitle {
    font-family: "Dancing Script", serif;
    font-size: 50px;
    font-style: bold;
    text-shadow: 4px 4px 4px #aaa;
    margin-top:10px;
    margin-bottom:-10px;
}

img {
    width: 280px;
    height: 330px;
}

.description-text {
    font-size: 15px;
    font-family: "Raleway", serif;
}

.label {
    font-size: 18px;
    font-style: bold;
    font-family: "Raleway", serif;
    margin-bottom: 11px;
    margin-top: 27px;
}

th {
    vertical-align: text-top;
    width:110px;
}
  
tr td {
    font-size:16px;
}

.footer {
    height: 2px;
}

.less-than-five {
    margin: 10px 0 0 15px;
    color: red;
}

.recipe-list-button {
    margin-top: 10px;
}