.page-container {
    margin-left: 12px;
    margin-right: 12px; 
}

.header-row {
    margin-bottom: 10px;
    width: 100%;
}

.header-text {
    float: left;
    width: 50%;
}

.button-group {
    width: 50%;
    float: right;
    margin-right: 5px;
    position: relative;
    top: -38px;
}

.new-button,
.buttons {
    float: right;
    margin-right: 5px !important;
    margin-bottom: 5px !important;
}

.shopping-list-table {
    width: 800px;
}

.mat-header-row {
    background: #476ac4 !important;
    height: 10px !important;

    .mat-header-cell {
        height: 10px  !important;
        color: white  !important;
    }
}

.mat-row {
    height: 10px !important;

    .mat-cell {
        height: 10px  !important;
    }
}

.header-cell,
.cell,
.action-cell {
    text-align: center;
    height: 10px  !important;
}

.action-header,
.action-cell {
    padding-left: 10px;
    width: 20px;
}