.page-container {
    width: 100%;
    margin-left: 12px;
}

.button-group {
    float: right;
    margin-right: 10px;
    top: -40px;
    position: relative;
    width: 80%;
    
    .button {
        float: right;
        margin-right: 10px;
    }
}

.body-container {
    margin-top: 53px;
    position: relative;
}

.category-container {
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 18%;
}

.delete-icon {
    color: #bf4e4a;
    height: 19px !important;
    width: 19px !important;
    margin-right: 2px;
    margin-top: -3px;
}

.heading {
    background: #585abd;
    color: white;
    height: 25px;
    text-align: center;
    border: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    margin-bottom: -1px;
}

.category {
    border: 1px solid black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 800px;
    overflow-y: auto;
}

.add-item {
    float: left;
    width: 15%;
    height: 131px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 26px;
    margin-top: 22px;
    padding: 12px;

    &.amounts {
        height: 185px;
    }
}

.amount-value-notes {
    width: 200px;
    font-size: .8em;
    position: relative;
}

.mat-list-item-content {
    font-size: .8em !important;
}

.mat-list-base .mat-list-item,
 .mat-list-base .mat-list-option {
    height: 18px !important;
}

.add-category-header {
    margin-top: 0 !important;
}

.add-div-buttons {
    float: right;
}

.panel-button {
    margin-right: 5px !important;
}