<div>
    <h2 class="page-header">Styles Configuration</h2>
    <div class="buttons">
        <button class="button" mat-raised-button color="basic" [routerLink]="['/']">Home</button>
        <button class="button" mat-stroked-button color="primary" [routerLink]="['/specials-list']">View Menu Board</button>
        <button class="button" mat-stroked-button color="secondary" (click)="newStyle()">New Style</button>
    </div>
</div>
<div class="styles-container">
    <div class="style-list">
        <mat-list>
            <mat-list-item class="style-row" *ngFor="let style of boardStyles">
                <div class="style-container">
                    <div class="header">
                        <h4 class="style-name" mat-line>{{style.name}}</h4>
                        <div class="mat-options">
                            <mat-icon
                                (click)="editStyle(style)"
                                matTooltip="Edit this style."
                                [matTooltipPosition]="'below'"
                                svgIcon="square-edit-outline">
                            </mat-icon>
                            <mat-icon
                                (click)="deleteStyle(style)"
                                matTooltip="Delete this style."
                                [matTooltipPosition]="'below'"
                                svgIcon="trash-can-outline">
                            </mat-icon>
                            <div class="active-icon">
                                <mat-icon
                                    *ngIf="style.active"
                                    color="primary"
                                    matTooltip="This style is currently active."
                                    [matTooltipPosition]="'below'"
                                    svgIcon="palette-swatch">
                                </mat-icon>
                                <mat-icon
                                    *ngIf="!style.active"
                                    (click)="makeActive(style)"
                                    matTooltip="Make this style active."
                                    [matTooltipPosition]="'below'"
                                    svgIcon="palette-swatch-outline">
                                </mat-icon>
                            </div>
                        </div>
                    </div>
                    <p class="subheader" mat-line> Updated: {{style.updated | date:'medium'}} </p>
                    <p class="subheader" *ngIf="style.active" mat-line>Currently Active Style</p>
                </div>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="style-detail">
        <div class="no-style-selected" *ngIf="!this.currentStyle">
            Click the <mat-icon class="example-icon" svgIcon="square-edit-outline"></mat-icon>
            icon on a Style to edit it and the 
            <mat-icon class="example-icon" svgIcon="trash-can-outline"></mat-icon> icon to delete it.<br />
            The <mat-icon class="example-icon" color="primary" svgIcon="palette-swatch"></mat-icon>
            icon denotes that a style is active and currently shown on the menu board. <br />
            Click on a <mat-icon class="example-icon" svgIcon="palette-swatch-outline"></mat-icon>
            icon to make another style active.<br /><br />
            You cannot delete the Default Style and it should remain as a guide.
        </div>
        
        <app-config-edit
            [(selectedStyle)]="this.currentStyle"
            (styleUpdate)="getAllBoardStyles()">
        </app-config-edit>
    </div>
</div>