<div class="example-container">
    <h2>Recipe Instructions</h2>
    <div>
        <div class="actions">
            <button
                *ngIf="recipeCount > 5"
                class="buttons"
                mat-raised-button color="primary"
                (click)="filterBySpecials()">
                Show Specials Only
            </button>
            <button
                *ngIf="recipeCount < 6"
                class="buttons"
                mat-raised-button color="primary"
                (click)="showAllRecipes()">
                Show All Recipes
            </button>
            <button
                class="buttons"
                mat-raised-button color="secondary"
                [routerLink]="['/']"
                type="button">
                Home
            </button>
            <div *ngIf="recipeCount > 5" class="filter-container">
                <form class="filter-form">
                    Filter by Name:
                    <mat-form-field class="filter-full-width">
                      <input type="text" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredRecipeNames | async" [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <a aria-hidden="false" (click)="filterByName('')">
                        <mat-icon
                            class="clear-icon"
                            color="warn"
                            matTooltip="Clear filter"
                            matTooltipClass="tooltip-body"
                            [matTooltipPosition]="'below'"
                            svgIcon="close-circle-multiple">
                        </mat-icon>
                    </a>
                </form>
                
            </div>
        </div>
    </div>
    <div class="recipe-list">
        <div class="recipe-container" *ngFor="let recipe of currentRecipeList">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                {{recipe.name}}
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
            </mat-expansion-panel-header>
                <img class="recipe-image" [src]="getImageUrl(recipe.image)"/>
                <div class="grid">
                    <mat-grid-list cols="3" rowHeight="40px">
                        <mat-grid-tile>
                            <label class="label">Glass: </label>
                            {{Enums.Glass[recipe.glass]}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <label class="label">Prep: </label>
                            {{Enums.Served[recipe.served]}}
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <label class="label">Garnish: </label>
                            {{recipe.garnish}}
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div class="grid-details">
                    <mat-grid-list cols="2" rowHeight="200px">
                        <mat-grid-tile>
                            <label class="label">Ingredients: </label>
                            <span class="line-breaker">{{recipe.ingredients}}</span>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <label class="label">Instructions: </label>
                            <span class="line-breaker">{{recipe.instructions}}</span>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
        </mat-expansion-panel>
        </div>
    </div>
</div>

