app-home {
    html, body {
        background-color: #aeccff;
        // height: 100%;
        // margin: 0;
    }

    .page-wrapper {
        // min-height: 100%;
        // margin-bottom: -50px;
        min-height: calc(100vh - 69px);
    }

    .page-title {
        margin-left: 12px;
    }

    .information {
        margin-left: 12px;
        margin-bottom: 12px;
    }

    .home-image {
        float: right;
        margin-top: 50px;
        margin-right: 60px;
        height: 500px;
        width: 700px;
    }

    .footer {
        height: 20px;
        background-color: #0c0c0d;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;

        .footer-text {
            color: white;
            font-style: italic;
            font-size: .7em;
        }
    }
}

.cdk-overlay-pane {
    margin-left: 20px !important;
}